<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Service Valley.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
				<key>dateExpires</key>
				<string>3/25/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AsyncTimer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GooglePlacesSearchController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageSlideshow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KImageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LZViewPager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PasswordTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SBCardPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iOSDropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D56F89FC9DFB48FAD31EA5A61190458F9E981328</string>
						<key>dateExpires</key>
						<string>3/25/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>5V8T3L6X7Y.com.codelabs.sv.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>5V8T3L6X7Y</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>5V8T3L6X7Y.com.codelabs.sv.OneSignalNotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>d1968cc4-53c2-4b4b-9308-25eae3a79edd</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.codelabs.sv.OneSignalNotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5V8T3L6X7Y</string>
						<key>name</key>
						<string>osayd abed</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5V8T3L6X7Y.com.codelabs.sv</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>5V8T3L6X7Y</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Service Valley.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6c7c1f6e-b173-4933-89a3-f34e23930bb5</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.codelabs.sv</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5V8T3L6X7Y</string>
				<key>name</key>
				<string>osayd abed</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
